body, html {
  min-height: 100%;
  background-color: rgb(80, 129, 136);
  font-family: 'Courier New', Courier, monospace;
}

.mainStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

button {
  border: 5px solid darkblue;
  border-radius: 15px;
}

button:hover {
  cursor: pointer;
  opacity: .6;
}

input:hover {
  opacity: .6;
}

video {
  margin: 25px;
  max-width: 300px;
  border-radius: 15px;
}