body, html {
  min-height: 100%;
  font-family: 'Courier New', Courier, monospace;
}

html {
  background: url("./assets/bg.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mainStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.clickable:hover {
  cursor: pointer;
  opacity: .7;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

button {
  border: 5px solid darkblue;
  border-radius: 15px;
  margin: 3px;
}

button:hover {
  cursor: pointer;
  opacity: .6;
}

input {
  margin: 3px;
  border-radius: 10px;
  text-align: center;
}

input:hover {
  opacity: .8;
}

video {
  margin: 25px;
  max-width: 300px;
  border-radius: 15px;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: .6;
  cursor: pointer;
}

.post {
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
}

.dropbtn {
  background-color: rgb(73, 31, 187);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #b4b3b3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* z-index: 1; */
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #222174;
}